{% extends 'base.html' %}
{%load static%}

{%block custom_tags%}
<link rel="stylesheet" href="{%static 'blog/style.css' %}">
{%endblock%}




{%block content%}
<h3>{{article.title}}</h3>
<small>{{article.publish}}</article></small><hr/>
<p>{{article.body|safe}}</p></hr>
{%with total=comments.count%}
<p>this post has {{total}} comment {{total|pluralize}}</p>
{%endwith%}</br>
{%if request.user.is_authenticated%}
<form action=" " method="post">
    {%csrf_token%}
    {{form.as_p}}
    <input type="submit" value="send" class="btn btn-primary">
</form>
    {%else%}
    <p class="text-danger">Only logged in users can send comments</p>
{%endif%}</br>


{%for comment in comments%}
    <div class="card bg-dark text-white">
        <p class="card-header">{{comment.user}}</p>
        <p class="card-body">{{comment.body}}</p>

    </div></br>
    {%empty%}
    <p>there is no comments</p>

{%endfor%}









{% endblock %}